<section class="benefits" id="benefits">
  <div class="container benefits-container" data-theme="dark">
    <h1 class="benefits-header"><span class="benefits-header-part">Benefits</span> of working with me</h1>
    <svg class="benefits-decor decor-hidden" xmlns="http://www.w3.org/2000/svg" width="526" height="408" fill=" none">
      <g fill="#00B068" filter="url(#a)">
        <rect width="15.041" height="15.041" x="431.055" y="210.158" rx="1.48"
          transform="rotate(-180 431.055 210.158)" />
        <rect width="15.041" height="15.041" x="369.039" y="40.041" rx="1.48" transform="rotate(-180 369.039 40.041)" />
        <rect width="14" height="14" x="326" y="341" rx="1.48" transform="rotate(-180 326 341)" />
        <rect width="22.561" height="22.561" x="495.465" y="256.168" rx="1.48"
          transform="rotate(-180 495.465 256.168)" />
        <rect width="7.52" height="7.52" x="319.305" y="116.779" rx="1.48" transform="rotate(-180 319.305 116.779)" />
        <rect width="7.52" height="7.52" x="528.031" y="146.803" rx="1.48" transform="rotate(-180 528.031 146.803)" />
        <rect width="7.52" height="7.52" x="152.52" y="320.52" rx="1.48" transform="rotate(-180 152.52 320.52)" />
        <rect width="7.52" height="7.52" x="14.96" y="407.439" rx="1.48" transform="rotate(-180 14.96 407.439)" />
        <rect width="15.041" height="15.041" x="282.039" y="225.041" rx="1.48"
          transform="rotate(-180 282.039 225.041)" />
        <rect width="7.52" height="7.52" x="160.52" y="138.52" rx="1.48" transform="rotate(-180 160.52 138.52)" />
      </g>
      <defs>
        <filter id="a" width="540.803" height="422.803" x="-3.402" y="-7.402" color-interpolation-filters="sRGB"
          filterUnits="userSpaceOnUse">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur result="effect1_foregroundBlur_2051_1487" stdDeviation="3.701" />
        </filter>
      </defs>
    </svg>
    <!-- <svg class="benefits-decor" width="526" height="408">
      <use href="../images/benefits/benefits.svg#icon-decor"></use>
    </svg> -->
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <div class="benefits-icons-wrapper">
          <svg class="benefits-icons" width="24" height="24">
            <use href="../images/benefits/benefits.svg#icon-user"></use>
          </svg>
        </div>
        <h3 class="benefits-subheader">Expertise</h3>
        <p class="benefits-subheader-description">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-icons-wrapper"><svg class="benefits-icons" width="24" height="24">
            <use href="../images/benefits/benefits.svg#icon-message-chat-circle"></use>
          </svg></div>
        <h3 class="benefits-subheader">Communication</h3>
        <p class="benefits-subheader-description">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-icons-wrapper"><svg class="benefits-icons" width="24" height="24">
            <use href="../images/benefits/benefits.svg#icon-brush"></use>
          </svg></div>
        <h3 class="benefits-subheader">Art</h3>
        <p class="benefits-subheader-description">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-list-item">
        <div class="benefits-icons-wrapper"><svg class="benefits-icons" width="24" height="24">
            <use href="../images/benefits/benefits.svg#icon-hourglass"></use>
          </svg></div>
        <h3 class="benefits-subheader">Urgent execution</h3>
        <p class="benefits-subheader-description">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>