<header class="catalog">
  <div class="container">
    <h1 class="catalog-header">Catalog</h1>
    <ul class="catalog-list">
      <li class="catalog-card">
        <picture class="catalog-card-item-img">
          <source
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-desk.webp,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-desk@2.webp 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />
          <source
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-tab.webp,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-tab@2.webp 2x
            "
            media="(min-width: 768px)"
            width="268"
            height="292"
          />
          <source
            srcset="
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-mob.webp,
              /img/catalog/garmin-fenix-7x-pro-sapphire-solar-mob@2.webp 2x
            "
            media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            src="/img/garmin-fenix-7x-pro-sapphire-solar-mob.webp"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
          />
        </picture>
        <div class="catalog-card-item-desc">
          <p class="catalog-card-item-name">
            Garmin Fenix 7X Pro Sapphire Solar
          </p>
          <p class="catalog-card-item-price">€500</p>
        </div>
      </li>
    </ul>
  </div>
</header>
