<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/faq.css" />
    <title>FAQ</title>
  </head>
  <body>
    <section class="faq" id="faq">
      <div class="container">
        <div class="faq-section-container">
          <div class="header-container">
            <h2>
              frequently asked
              <span class="highlight">question</span>
            </h2>
            <div class="decor-background">
              <svg width="520.592" height="406.244">
                <use href="../images/faq/icons/icons.svg#group-67"></use>
              </svg>
            </div>
          </div>
          <div class="accordion-container">
            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  What programming languages are most often used in your
                  project?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>

            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  What are the deadlines for the project?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>

            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  What payment methods do you accept?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>

            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  How can I contact you?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  In the field of web development, there are various
                  technologies and programming languages. Typically, this
                  includes a combination of frontend (client side) and backend
                  (server side) languages.
                </p>
              </div>
            </div>

            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  Do you provide advice or support?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  The terms of project implementation depend to a large extent
                  on a number of factors, such as the scope of the project, its
                  complexity, and the availability of resources. Determining
                  exact deadlines is a difficult task, and it usually occurs
                  during the planning phase of the project.
                </p>
              </div>
            </div>

            <div class="ac">
              <h2 class="ac-header">
                <button type="button" class="ac-trigger">
                  What does the process of developing a software product look
                  like from idea to implementation?
                </button>
              </h2>
              <div class="ac-panel">
                <p class="ac-text">
                  Payment through credit and debit cards such as Visa,
                  MasterCard, specialized electronic payment systems such as
                  PayPal, as well as payments in cryptocurrencies such as
                  Bitcoin, Ethereum and others.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script type="module" src="../js/faq.js"></script>
  </body>
</html>
