<footer class="footer" id="footer">
  <div class="contact-section container">
    <div class="sbornik">
      <div class="lloydjefferson">
        <b
          >LLOYD<span style="color: var(--Accet-green, #00b068)"
            >JEFFERSON.</span
          ></b
        >
      </div>
      <div class="social-links">
        <div class="social-link-li">
          <a href="https://www.instagram.com/goitclub/">Instagram</a>
        </div>
        <div class="social-link-li">
          <a href="https://www.facebook.com/goITclub/?locale=ru_RU">Facebook</a>
        </div>
        <div class="social-link-li">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            >Linkedin</a
          >
        </div>
        <div class="social-link-li">
          <a href="https://github.com/goitacademy">GitHub</a>
        </div>
      </div>
    </div>
    <div class="copyright-24">© Copyright 2024. Made by LloydJefferson</div>
  </div>
</footer>
