<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <p class="header-logo-txt">watchcharm</p>
      <ul class="header-navigation-list">
        <li class="header-navigation-list-item"><a href="">Home</a></li>
        <li class="header-navigation-list-item"><a href="">About Us</a></li>
        <li class="header-navigation-list-item"><a href="">Catalog</a></li>
        <li class="header-navigation-list-item"><a href="">Sale</a></li>
        <li class="header-navigation-list-item"><a href="">Reviews</a></li>
        <li class="header-navigation-list-item"><a href="">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="header-social-item-list">
      <li class="header-social-item">
        <a href="https://www.facebook.com/goITclub/"></a>
      </li>
      <li class="header-social-item">
        <a href="https://www.instagram.com/goitclub/"></a>
      </li>
      <li class="header-social-item">
        <a href="https://www.youtube.com/c/GoIT"></a>
      </li>
    </ul>
    <!-- -----------burger-btn----------- -->
    <button class="header-burger-btn" type="button">
      <svg class="header-svg-burger-icon" width="28" height="14">
        <use
          href="../header-img-icons/header-icons.svg#icon-header-burger-btn"
        ></use>
      </svg>
    </button>
    <!------------------- #end buger-btn------------>
  </div>
</header>
