<section class="hero">
  <div class="container container-hero">
    <h1 class="hero-title">Welcome to our <span class="collection">collection</span> of premium watches</h1>
    <p class="hero-descr">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
          <div class="pics-and-scroll">
            <ul class="hero-list">
                    <li>
            <img
              src="/images/hero/amanda-lowery-mob.webp"
              srcset="/images/hero/amanda-lowery-mob.webp 1x, /images/hero/amanda-lowery-mob@2x.webp 2x"
              alt="Amanda Lowery"
            />
                    </li>
                    <li>
            <img
              src="/images/hero/ethan-valdez-mob.webp"
              srcset="/images/hero/ethan-valdez-mob.webp x1, /images/hero/ethan-valdez-mob@2x.webp 2x"
              alt="Ethan Valdez"
            />
                    </li>
                    <li>
            <img
              src="/images/hero/fleur-cook-mob.webp"
              srcset="/images/hero/fleur-cook-mob.webp 1x, /images/hero/fleur-cook-mob@2x.webp 2x"
              alt="Fleur Cook"
            />
                    </li>
                  </ul>
            <a href="">Scroll down</a>
          </div>
      
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /images/hero/hero-watch-desk.webp    1x,
              /images/hero/hero-watch-desk@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /images/hero/hero-watch-tab.webp    1x,
              /images/hero/hero-watch-tab@2x.webp 2x
            "
          />
          
          <source
            media="(min-width: 375px)"
            srcset="
              /images/hero/hero-watch-mob.webp    1x,
              /images/hero/hero-watch-mob@2x.webp 2x
            "
          />
          
          <img
            src="/images/hero/hero-watch-desk.webp"
            alt="Sleek black design watch suspended between two sleek-looking dark gray rocks"
          />
    
          
  </div>
</section>
