<section class="hero">
  <div class="container">
    <h1>Welcome to our <span>collection</span> of premium watches</h1>
    <p>
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <ul>
      <li>
        <img
          src="/src/images/hero/amanda-lowery-mob.webp"
          srcset="/src/images/hero/amanda-lowery-mob@2x.webp"
          alt="Amanda Lowery"
        />
      </li>
      <li>
        <img
          src="/src/images/hero/ethan-valdez-mob.webp"
          srcset="/src/images/hero/ethan-valdez-mob@2x.webp"
          alt="Ethan Valdez"
        />
      </li>
      <li>
        <img
          src="/src/images/hero/fleur-cook-mob.webp"
          srcset="/src/images/hero/fleur-cook-mob@2x.webp"
          alt="Fleur Cook"
        />
      </li>
    </ul>
  </div>
</section>
