<!-- Mobile Menu -->
<div class="mobile-menu">
  <div id="particles-js"></div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#about-me" class="nav-link">About me</a>
      </li>
      <li class="nav-item">
        <a href="#my-projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="#work-together" class="nav-link">Contacts</a>
      </li>
    </ul>
  </nav>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="module" src="./js/modal.js"></script>
