<section class="container reviews" id="reviews">
  <h2 class="reviews-title">reviews</h2>
  <div class="swiper reviews-swiper">
    <ul class="swiper-wrapper reviews-list">
      <li class="swiper-slide reviews-list-item"></li>
    </ul>
    <div class="reviews-list-btns">
      <button class="reviews-btn reviews-btn-left" type="button">
        <svg class="reviews-left" width="40" height="40">
          <use href="/images/reviews/reviews.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="reviews-btn reviews-btn-right" type="button">
        <svg class="reviews-right" width="40" height="40">
          <use href="/images/reviews/reviews.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<script type="module" src="./js/reviews.js"></script>
