<section class="work-together" id="work-together">
  <div class="container">
    <div class="left-side">
      <h1>LET’S <span>WORK TOGETHER</span></h1>
      <div class="contact-text">CONTACT ME TO TRANSFORM YOUR IDEAS INTO EXCEPTIONAL SOLUTIONS.</div>
  
      <div class="contact-info">
        <div><img src="phone.svg" alt="Phone"> +38 090 456 78 90</div>
        <div><img src="mail.svg" alt="Email"> lloydjefferson@gmail.com</div>
        <div><img src="location.svg" alt="Location"> USA, New York</div>
      </div>
    </div>
  
    <div class="right-side">
      <form class="form">
        <input type="email" placeholder="Your email*" required>
        <textarea placeholder="Message" style="height: 128px;"></textarea>
        <button type="button" onclick="openModal()">SEND MESSAGE</button>
      </form>
    </div>
  </div>
  </div>
</section>
<script type="module" src="./js/work-together.js"></script>
