.catalog {
  background-color: #fff;
}

.catalog-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 24px;
}

.catalog-card {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 335px;
  height: 364px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 28px 24px;
}

.catalog-card-item-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-card-item-desc {
  padding-top: 28px;
}

.catalog-card-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  padding-bottom: 8px;
  text-align: left;
}

.catalog-card-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
