.catalog {
  background-color: #fff;
}

.catalog-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.catalog-card {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 42px 28px 28px;
}

.catalog-card-item-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-card-item-desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.catalog-card-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.02em;
  padding-bottom: 8px;
  text-align: left;
}

.catalog-card-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

@media only screen and (min-width: 768px) {
  .catalog-header {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    margin-bottom: 40px;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
  .catalog-card {
    padding: 34px 32px 24px;
  }
}

@media only screen and (min-width: 1280px) {
  .catalog-list {
    row-gap: 32px;
    column-gap: 23px;
  }
}
