/* Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 60px 20px 0;
}

.header .container {
  padding-top: 0;
}

.footer .container {
  padding-bottom: 20px;
}

/* Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 80px 32px 0;
  }
  .footer .container {
    padding-bottom: 32px;
  }
}

/*Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 100px 32px 0;
  }
  .hero .container {
    padding-top: 80px;
  }
}
