/*MOBILE*/
.container {
  min-width: 320px;
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}
h2 {
  width: 320px;
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--Black, #292929);
}

.highlight {
  color: var(--Accet-green, #00b068);
}

.decor-background {
  display: none;
}
/* accordion */
.accordion-container {
  margin-top: 40px;
  flex: 1;
  width: 320px;
  height: auto;
}

.ac {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 28px 24px;
  align-items: flex-start;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  border-bottom: 1px solid var(--Light-grey, #e4e5e6);
}

.ac-header {
  display: flex;
  width: 100%;

  justify-content: flex-start;
}

.ac-trigger {
  position: relative;
  overflow: hidden;
  max-width: 250px;
  padding-right: 16px;

  text-transform: uppercase;
  background: none;
  border: none;
  font-family: Poppins, sans-serif;
  color: var(--Black, #292929);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  cursor: pointer;
  word-break: break-word;
}

.ac .ac-trigger::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/faq/icons/button-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '';
  background-image: url('../images/faq/icons/button-up.svg');
}

.ac-text {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  text-align: start;
}

.ac.is-active {
  background-color: var(--light-accent, #bcdfd1);
}

.ac.is-active .ac-trigger {
  color: var(--Accet-green, #00b068);
}

.ac-panel {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  width: 100%;
}

.ac-panel > * {
  padding-top: 12px;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-container {
    max-width: 594px;
    flex-shrink: 0;
  }
  h2 {
    width: 592px;
    font-size: 108px;
    line-height: 1.15;
  }
  /* accordion */
  .accordion-container {
    margin-top: 60px;
    width: 704px;
    height: auto;
  }

  .ac {
    width: 704px;
  }
}

.ac-trigger {
  max-width: 600px;
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .faq-section-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 104px;
    flex-wrap: wrap;
  }

  .header-container {
    max-width: 520px;
    flex-shrink: 0;
  }
  h2 {
    width: 520px;
  }

  .decor-background {
    display: block;
    margin-top: 240px;
    width: 520.592px;
    height: 406.244px;
    flex-shrink: 0;
    fill: var(--Accet-green, #00b068);
    filter: blur(0.70084285736084px);
  }

  /* accordion */
  .accordion-container {
    margin-top: 276px;
    height: auto;
  }

  .ac {
    width: 592px;
  }
}
