footer {
  margin-top: auto;
  width: 100%;
  text-align: left;
  padding: 16px;
  font-size: 12px;
}

.social-links {
  display: flex;
  gap: 16px;
  margin: 8px 0;
  font-size: 12px;
  flex-direction: column;
}

.copyright-24 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}


@media (min-width: 1280px) {
  
footer {
  width: 100%;
  margin-top: 80px;
}
}


@media (min-width: 768px) {
  .social-links {
    display: flex;
    gap: 16px;
    margin: 8px 0;
    font-size: 12px;
    flex-direction: row;
  }

  

  footer {
    padding: 16px 0;
  }

  .lloydjefferson {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .social-link-li {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
  }

  .copyright-24 {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}