.hero {
  background-color: #fff;
  margin-bottom: 60px;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-width: 320px;
  max-width: 375px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 335px;
}

.hero-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 335px;
}

.collection {
  color: #3350e9;
}

.hero-header-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-list {
  display: flex;
  position: relative;
}

.pics-and-scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-ethan {
  position: absolute;
  left: 32px;
}

.hero-fleur {
  position: absolute;
  left: 64px;
}

.hero-anchor {
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
